.grid {
  display: grid;
  grid-template-columns: repeat(24, [col] 1fr);
  grid-template-rows: [row] auto;
  grid-gap: 8px;
}

.grid_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* push first form section down px to expose grid numbers */
.grid > .FS {
    margin-top: 20px;
}

/* replace the margin-top above for all children after the first .FS */
.grid > .FS ~.FS {
    margin: 10px 0px 0px 0px;
}

.arrow_box {
	position: relative;
	background: #3ad50b;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "move here";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(58, 213, 11, 0);
	border-top-color: #3ad50b;
	border-width: 30px;
	margin-left: -30px;
}