.react-resizable {
  position: relative;
}


/* img {
  max-width: 80%;
  max-height: 80%;
} */

img {
  height: auto;
  width: 100%;
}

/* .resizer:hover {
    background-color: green;
} */

::-webkit-scrollbar {
display: none;
}